---
import { Code } from "astro/components";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";

import domImage from "../imgs/buttons-dom.png";
import ButtonSimple from "../components/ButtonSimple.astro";

const code = `<Button variant="secondary">Button</Button>
<Button href="/" variant="primary">Home</Button>`;
---

<Layout title="Welcome to Astro.">
  <main>
    <div>
      <Button variant="secondary">Button</Button>
      <Button href="/" variant="primary">Home</Button>
    </div>

    <Code code={code} lang="astro" wrap theme="github-dark" />

    <img width={445} src={domImage} alt="DOM" />
  </main>
</Layout>
