---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>

  <body>
    <main>
      <header>
        <h1>Semantik vs design</h1>
        <a href="/titles" class="cta">Fleksible komponenter</a>
      </header>

      <section>
        <h2>Heading level 2</h2>
        <p>Lorem ipsum dolor sit.</p>

        <ul class="cards">
          <li class="card">
            <img src="http://unsplash.it/400/250?2&gravity=center" alt="" />
            <h3>Heading level 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </li>
          <li class="card">
            <img src="http://unsplash.it/400/250?1&gravity=center" alt="" />
            <h3>Heading level 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
          </li>
        </ul>
      </section>

      <ul class="cards">
        <li class="card">
          <img src="http://unsplash.it/400/250?3&gravity=center" alt="" />
          <h2>Heading level 2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </li>
        <li class="card">
          <img src="http://unsplash.it/400/250?4&gravity=center" alt="" />
          <h2>Heading level 2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </li>
      </ul>
    </main>
  </body>
</html>

<style>
  :root {
    --step-1: 1rem;
    --step-2: 1.25rem;
    --step-3: 1.5rem;
    --step-4: 2rem;
    --step-5: 3rem;
  }

  img {
    max-width: 100%;
    display: block;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  body {
    background: hsl(264 50% 97%);
  }

  main {
    font-family: system-ui;
    max-width: 65ch;
    margin-inline: auto;
    display: grid;
    gap: 2rem;
  }

  section {
    background: hsl(240 23% 30%);
    padding: 2rem;
    color: #fff;
    border-radius: 1rem;

    display: grid;
    gap: 0.5rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }

  .card {
    position: relative;
    background: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    color: #2b2b2b;
    padding: 1rem;
    border-radius: 0.5rem;

    display: grid;
    gap: 0.5rem;
  }

  /* .card h2::before {
    content: "Overskrift har forkert størrelse";
    position: absolute;
    top: 0;
    left: -0.5rem;
    translate: 0 -100%;
    background: white;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    box-shadow: 0px 0.5px 1.4px rgba(0, 0, 0, 0.015), 0px 1.3px 3.8px #00000005,
      0px 3px 9px rgba(0, 0, 0, 0.025), 0px 10px 30px rgba(0, 0, 0, 0.035);
    background: hsl(348 83% 37%);
    font-size: 0.8rem;
    color: hsl(348 50% 96%);
    opacity: 0;
  }

  .card:hover h2::before {
    opacity: 1;
  } */

  h1 {
    font-size: var(--step-5);
  }

  h2 {
    font-size: var(--step-4);
  }

  h3 {
    font-size: var(--step-3);
  }

  h4 {
    font-size: var(--step-2);
  }

  h5 {
    font-size: var(--step-1);
  }

  .card h3 {
    outline: 2px dashed hsl(84 100% 39%);
  }

  .card h2 {
    outline: 2px dashed crimson;
    position: relative;
  }
</style>
